<ion-view style="background: #dddddd;">
	<div class="bar bar-header item-input-inset head-title">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        <h1 class="title">订单详情</h1>
    </div>
    <ion-content style="margin-top: 44px;">
        <div class="content-settlement span-order">订单号：<span>20180126102764</span></div>
      	<div class="content-settlement span-order">取餐日期：<span>2018-01-26</span></div>
      	<div class="content-settlement-title">已选商品：</div>
      	<ul class="content-settlement-ul">
      		<li>
      			<img src="img/cover.png"> 外面包 <span>x1</span><span>￥12</span>
      		</li>
      		<li>
      			<img src="img/cover.png"> 外面包 <span>x1</span><span>￥12</span>
      		</li>
      		<li>
      			<img src="img/cover.png"> 外面包 <span>x1</span><span>￥12</span>
      		</li>
      	</ul>
        <div class="content-order-btn">
            <span>实付:&nbsp;&nbsp;&nbsp;￥<b>40</b></span>
            <div>
              <button class="button button-royal">取消订单</button>
              <button class="button button-royal">订单编辑</button>
            </div>
        </div>
    </ion-content>
</ion-view>